body{
    color: black;
}

.choice-container{
    display: flex;
    margin-bottom: .3rem;
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    background: #fff;
    font-size: 1.5rem;
    min-width: 60rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding: .5rem 2.5rem;
    color: black;
}

.choice-text{
    padding: .5rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, rgba(11, 223, 36, ) 0%, rgb(41, 223, 111) 100%);
}

.incorrect{
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/*HUD's*/

#hud{
    display:flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#progress{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: rgb(41, 223, 111);
    width: 0%;
}

#pregunta{
    text-align: justify;
    font-size: 2.5rem;
}




@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 12rem;
    }

    .choice-prefix{
        padding: 1rem 1.5rem;
        color: black;
    }

    .choice-text{
        padding: 1rem;
        width: 100%;
    }

    #hud{
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
    }

    #pregunta{
        text-align: center;
        font-size: 1.3rem;

    }

    
}